.advantages {
  padding-top: 30px;
  background-color: #fff;
}

.advantages__title {
  padding: 0 25px;
  margin-bottom: 35px;
  text-align: center;
  @media (min-width:767px) {
    max-width: 520px;
    margin: 0 auto 35px;
  }
}
.advantages__sub-title {
  padding: 0 20px;
  color: #333333;
   margin-bottom: 15px;
  text-align: center;
  @media (min-width:767px) {
    margin-bottom: 50px;
  }
}

.advantages__preview {

  @media  ( min-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__preview:first-child {
}

.advantages__item {
}

.item-advantage {
  padding: 35px 18px 35px;
  text-align: center;
  background-color: #eeeeee;
  @media (min-width:767px) {
    padding: 40px 30px;
  }
    
  }

.item-advantage--bottom {
  padding-bottom: 17px;
  
}
.item-advantage--bottom:not(:last-child) {
  margin: 0 30px;
  border-bottom: 1px solid #d6d6d6;
  @media (min-width:767px) {
    border-bottom: none;
    margin:0;
  }
}

.item-advantage--bg {
  padding-top: 75px;
  padding-bottom: 30px;
  background-image: url(../../img/advantages/mobile/triangle-mobile-advantages.svg);
  background-repeat: no-repeat;
  background-size: 767px 36px;
  background-position: 50% top;
  @media (min-width:767px) {
    background-image: none;
  }
}

.item-advantage--current {
  color: #fff;
  background-color: #81b3d2;
}
.item-advantage__title {
  margin-bottom: 13px;
}
.item-advantage__number {

  margin-bottom: 20px;
}
.item-advantage__sub-title {

}

.advantages__preview-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.advantages__top-list {
  padding: 35px 0 55px;
  @media (min-width:767px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
  }
}

.advantages__features:not(:last-child) {
  margin-bottom: 20px;
  @media (min-width:767px) {
    margin-bottom: 0;
  }
}

.features-advantage {
  display: flex;
  padding: 0 30px;
  @media (min-width:767px) {
    flex-direction: column;
    align-items: center;
  }
}

.features-advantage__text {
  padding-top: 10px;
  @media (min-width:767px) {
    text-align: center;
  }
}

.features-advantage__title {

  margin-bottom: 15px;
}

.features-advantage__sub-title {
}

.features-advantage__img {
  margin-right: 5px;
  @media (min-width:767px) {
    margin-right: 0;
  }
}

.advantages__preview--reverse {
  flex-direction: row-reverse;
}

.advantages__bottom-list {
  background-color: #eeeeee;
  @media (min-width:767px) {
    display: flex;
  }
}
