.advantages {
  padding-top: 30px;
  background-color: #ffffff;

  @media (min-width: 767px) {
    padding-top: 45px;
  }

  @media (min-width: 1199px) {
    padding-top: 60px;
  }
}

.advantages__title {
  padding: 0 25px;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: 767px) {
    max-width: 520px;
    margin: 0 auto 30px;

    @media (min-width: 1199px) {
      margin: 0 auto 27px;
    }
  }
}

.advantages__sub-title {
  padding: 0 20px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: 767px) {
    margin-bottom: 55px;
  }

  @media (min-width: 1199px) {
    margin-bottom: 45px;
  }
}

.advantages__preview {
  @media (min-width: 767px) {
    display: flex;
  }
}

.advantages__preview--reverse {
  @media (min-width: 767px) {
    flex-direction: row-reverse;
  }
}

.item-advantage {
  padding: 35px 10px;
  text-align: center;
  background-color: #eeeeee;

  @media (min-width: 767px) {
    padding: 40px 30px 35px;
  }
}

.item-advantage--bottom {
  padding-bottom: 17px;

  @media (min-width: 1199px) {
    flex: 1 0 33%;
  }
}

.item-advantage--bottom:not(:last-child) {
  margin: 0 30px;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: 767px) {
    border-bottom: none;
    margin: 0;
  }
}

.item-advantage--bg {
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url("../../img/advantages/mobile/triangle-mobile-advantages.svg");
  background-repeat: no-repeat;
  background-size: 767px 36px;
  background-position: 50% top;

  @media (min-width: 767px) {
    padding-top: 40px;
    background-image: none;
  }

  @media (min-width: 1199px) {
    padding-top: 50px;
    background-image: none;
  }
}

.item-advantage--current {
  color: #ffffff;
  background-color: #81b3d2;
  flex: 1 0 33%;
}
.advantages__image-wrapper {
width: 100%;
}

.advantages__preview-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.item-advantage__title {
  margin-bottom: 13px;

  @media (min-width: 767px) {
    margin: 0 auto 15px;
    max-width: 160px;
  }
}

.item-advantage__number {
  margin-bottom: 20px;

  @media (min-width: 767px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1199px) {
    margin-bottom: 28px;
  }
}

.item-advantage__sub-title {
  @media (min-width: 1199px) {
    max-width: 270px;
    margin: 0 auto;
  }
}



.advantages__top-list {
  padding: 25px 0 50px;

  @media (min-width: 767px) {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1199px) {
    padding: 60px 0 80px;
  }
}

.advantages__features:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: 767px) {
    margin-bottom: 0;
  }
}

.features-advantage {
  display: flex;
  padding: 0 20px;

  @media (min-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.features-advantage__text {
  padding-top: 10px;

  @media (min-width: 767px) {
    padding-top: 25px;
    text-align: center;
  }
}

.features-advantage__title {
  text-align: start;
  margin-bottom: 15px;

  @media (min-width: 767px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.features-advantage__img {
  margin-right: 7px;
  width: 40px;
  height: 40px;

  @media (min-width: 767px) {
    margin-right: 0;
    width: 75px;
    height: 75px;
  }
}

.advantages__bottom-list {
  background-color: #eeeeee;

  @media (min-width: 767px) {
    padding-bottom: 40px;
    display: flex;
  }
}
