.button {
  width: 100%;
  padding: 15px 45px;
  font-family: "PT sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  transition: 0.3s;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
    background-color: #5496bd;
  }

  @media (min-width: 767px) {
    max-width: 458px;
    width: 100%;
  }
}
