.catalog {
padding-top: 20px;
}

.catalog__container {}

.catalog__title {
   margin-bottom: 20px;
   text-align: center;
}

.title {}

.catalog__sub-title {
   text-align: center;
   margin-bottom: 25px;
}

.subtitle {}

.catalog__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   @media ( min-width:767px) {
      flex-direction: row;
      flex-wrap: wrap;
   }
}

.catalog__item {
   &:first-child {
      width: 100%;
   }
}

.item-catalog {
   padding: 25px 0;
}

.item-catalog__image {
   margin-bottom: 15px;
   width: 100%;
}

.item-catalog__title {
   font-weight: 700;
   margin-bottom: 5px;
}

.item-catalog__sub-title {
   margin-bottom: 10px;
}

.item-catalog__stats {
   font-weight: 700;
   &::before {
      content: url("../../img/catalog/like-icon.svg");
      margin-right: 5px;
   }
}
