.footer {
  padding: 40px 0;
  background-color: #ffffff;

  @media (min-width: 767px) {
    padding: 33px 0;
  }

  @media (min-width: 1199px) {
    padding: 42px 0;
  }
}

.footer--catalog {
  padding: 15px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 767px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 980px;
    padding: 0 60px;
  }

  @media (min-width: 1199px) {
    padding: 0 10px;
  }
}

.footer__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: 767px) {
    margin-bottom: 0;
  }
}

.footer__socials {
  margin-bottom: 40px;

  @media (min-width: 767px) {
    margin-bottom: 0;
  }
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  transition: 0.4s;
}

.social__link {
  width: 48px;
  height: 48px;
  background: #81b3d2;
  transition: 0.3s;

  &:hover {
    transform: translateY(-10px);
    background-color: #669ec0;
  }
}

.wk-icon {
  background: #81b3d2 url("../../img/footer/vk.svg") center no-repeat;
}

.telegram-icon {
  background: #81b3d2 url("../../img/footer/telegram.svg") center no-repeat;
}

.youtube-icon {
  background: #81b3d2 url("../../img/footer/youtube.svg") center no-repeat;
}

.copyright {
  display: flex;
  align-items: center;

  &:hover {
    color: #81b3d2;
    cursor: pointer;

    .copyright__logo path {
      fill: #81b3d2;
    }
  }

  &:active {
    color: #b3b3b3;

    .copyright__logo path {
      fill: #b3b3b3;
    }
  }
}

.copyright__text {
  margin-right: 10px;
  text-transform: uppercase;

  @media (min-width: 767px) {
    margin-right: 0;
  }
}
