.intro {
  position: relative;
  padding: 90px 0;
  padding-top: 147px;
  padding-bottom: 87px;
  text-align: center;
  background: #81b3d2 url("../../img/intro/intro-bg.jpg") center / cover no-repeat;

  @media (min-width: 767px) {
    padding: 135px 0 100px;
  }

  @media (min-width: 1199px) {
    padding: 140px 0 85px;
  }
}

.intro--catalog,
.intro--form {
  padding-top: 110px;
  padding-bottom: 65px;

  @media (min-width: 767px) {
    padding-top: 150px;
    padding-bottom: 120px;
  }

  @media (min-width: 1199px) {
    padding-top: 160px;
  }
}

.intro__image {
  @media (min-width: 767px) {
    width: 450px;
  }
}

.intro::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: url("../../img/intro/intro-triangle.svg") center / cover no-repeat;
  z-index: 5;
}
