.intro {
   position: relative;
   padding: 90px 0;
   text-align: center;
   background: #81B3D2 url(../../img/intro/intro-bg.jpg) center / cover no-repeat;
}

.intro__container {
   
}

.intro::after {
   position: absolute;
   content: "";
   width: 768px;
   height: 57px;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   background: url(../../img/intro/intro-triangle.svg) center / cover no-repeat;
   z-index: 5;
}


